.grid-container {
	margin: auto;
}
.row {
	display: flex;
}
.cell {
	flex: 1;
  border: 1px solid #cecece;
  box-sizing: border-box;
  background: #ededed;
  text-align: center;
  font-size: 170px;
}
.alive {
	background: #999;
}